body {
	font: 300 1em "Lato", sans-serif;
	color: #747704;
}

li {
	display: inline-block;
	margin: 3px;
	font: 20px solid;
}

.about-me {
	background-color: #e8e8e8;
	font: 20px;
	-webkit-box-shadow: 0px 22px 87px -15px rgba(135, 206, 250, 1);
	-moz-box-shadow: 0px 22px 87px -15px rgba(135, 206, 250, 1);
	box-shadow: 0px 22px 87px -15px rgba(102, 102, 255, 1);
	max-width: 100%;
}

.personal-experience {
	border: 5px solid #f90;
	-webkit-box-shadow: 0px 22px 87px -24px rgba(103, 121, 199, 0.9);
	-moz-box-shadow: 0px 22px 87px -24px rgba(103, 121, 199, 0.9);
	box-shadow: 0px 22px 87px -24px rgba(103, 121, 199, 0.9);

}

img {
	max-width: 100%;
	display: inline-block;
}

.img-responsive {
	max-height: 300px;
	min-height: 350px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin: 20px;
}

.footer {
	margin: 0 auto;
	padding: 5px;
	color: #000;
	background-color: #f90;
	max-width: 100%;
}

hr {
	margin: 15px;
	border: 0;
	border-top: 3px solid #747704;
}

.container {
	margin: 0 auto;
	padding: 5px;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}

}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}

}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}

}

.container-fluid {
	margin: 0 auto;
	padding: 5px;
}

.row {
	margin: 5px;
}

.validator {
	display: inline;
	margin: 3px;
	text-align: center;
}




